# Local .terraform directories and files
**/.terraform/*
.terraform*
.terraformrc
# .tfstate files
*.tfstate
*.tfstate.*
# own secret vars store.
*.auto.tfvars
terraform.tfvars
yandex_fin
yandex_fin.pub

#docker & app
.env
venv
env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
