terraform {
  backend "s3" {
    bucket = "${bucket_name}"
    key = "terraform.tfstate"
    region = "ru-central1"
    use_lockfile = true
    endpoints = {
      s3 = "https://storage.yandexcloud.net"
    }
    AWS_ACCESS_KEY_ID = "${access_key}"
    skip_region_validation = true
    skip_credentials_validation = true
    skip_requesting_account_id = true
    skip_s3_checksum = true
  }

}
